  <h1 class="new_header">Loan your device</h1>
<div class="container">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
      <%= simple_form_for @device do |f| %>

        <% if @device.errors.any? %>
          <div class="errors-container">
            <ul>
              <% @device.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <%= f.input :name, label: "Enter the name of your device", label_html: { class: "form_text" } %>
        <%= f.input :type_of_device, label: "What type of device is this (laptop/phone/tablet)?", label_html: { class: "form_text" } %>
        <%= f.input :description, label: "Describe your device (model, colour etc.)", label_html: { class: "form_text" } %>
        <%= f.input :condition_of_device, label: "What condition is your device in (new/used)?", label_html: { class: "form_text" } %>
        <%= f.input :age_of_device, label: "How old is the device (in years)?", label_html: { class: "form_text" } %>
        <%= f.input :price_per_week, label: "How much is the device to rent per week?", label_html: { class: "form_text" } %>
        <!-- [...] -->
        <%= f.input :photo, label: "Add a photo of your device", label_html: { class: "form_text" }  %>
        <%= f.input :photo_cache, as: :hidden %>
        <!-- [...] -->
        <%= f.submit "Add your device", class: "btn-medium new_center_button"  %>
      <% end %>

  </div>

</div>
