<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path @device.photo, crop: :fill %>');">


  <div class="banner-content">
    <h1><%= @device.name %></h1>
  </div>

</div>


<%= form_tag movies_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a movie"
  %>
<% end %>







<div class="flexbox">
  <div class="info-box">
    <div class="row">
      <div>
        <h4>Information on Device</h4>
        <ul>
          <li>Type: <%= @device.type_of_device %></li>
          <li>Condition: <%= @device.condition_of_device %></li>
          <li>Age: <%= @device.age_of_device %></li>
          <li>Description: <%= @device.description %></li>
          <li>Price per week: £<%=@device.price_per_week%></li>
        </ul>
      </div>
    </div>
  </div>
  <div>
    <%= render '/shared/booking_form', device: @device, booking: @booking %>
  </div>
</div>
