<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path @device.photo, crop: :fill %>');">
  <div class="banner-content">
    <h1><%= @device.name %></h1>
  </div>
</div>
<div class="flexbox">
  <div class="info-box">
    <div class="row">
      <div>
        <h4 class="show_name margins"><%= @device.name %></h4>
        <h4 class="show_desciption margins">"<%= @device.description %>"</h4>
        <ul class="line-height list-text margins">
          <li><%= @device.type_of_device %></li>
          <li>condition: <%= @device.condition_of_device %></li>
          <li><%= @device.age_of_device %> years old</li>
          <li>rentable at £<%=@device.price_per_week%> / week</li>
        </ul>
        <br>
      </div>
    </div>
  </div>
  <div>
    <% if user_signed_in? %>
    <%= render '/shared/booking_form', device: @device, booking: @booking %>
    <% else %>
    <%= render '/shared/booking_signin' %>
    <% end %>
  </div>
</div>
