
  <div class="booking">
    <h4>Booking form for this device:</h4>
    <%= simple_form_for [device, booking] do |f| %>
      <%= f.label :start_of_renting, "When do you want to rent from?" %>
      <%= f.input :start_of_renting %>
      <%= f.label :end_of_renting, "When do you want to rent until?" %>
      <%= f.input :end_of_renting %>
      <%= f.submit %>
    <% end %>
  </div>

