<div class=container>
  <div class=row>
    <h3>Booking Form:</h3>
    <%= simple_form_for [device, booking] do |f| %>
      <%= f.label :start_of_renting, "When do you want to rent from?" %>
      <%= f.input :start_of_renting %>
      <%= f.label :end_of_renting, "When do you want to rent until?" %>
      <%= f.input :end_of_renting %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
