<div class="dashboard">
  <div>
    <h3 class="dashboard-name"><%= booking.device.name %></h3>
  </div>
  <div class="dashboard-body">
    <p class="strong">Description:</p>
    <p><%= booking.device.description %></p>
  </div>
  <div class="dashboard-body">
    <p class="strong">Rental Start Date:</p>
    <p><%= booking.start_of_renting.to_s.split(' ')[0] %></p>
  </div>
  <div class="dashboard-body">
  <p class="strong">Rental End Date:</p>
    <p><%= booking.end_of_renting.to_s.split(' ')[0] %></p>
  </div>
    <p class="btn-medium" id="dashboard-button">
      <%= link_to 'Link to device', devices_path %>
    </p>
  </div>
</div>
