<div class="dashboard">
  <div>
    <h3 class="dashboard-name"><%= booking.device.name %></h3>
  </div>
  <div class="dashboard-body">
    <p>Description:</p>
    <br>
    <p><%= booking.device.description %></p>
  </div>
  <div class="dashboard-body">
    <p>Rental Start Date:</p>
    <br>
    <p><%= booking.start_of_renting %></p>
  </div>
  <div class="dashboard-body">
  <p>Rental End Date:</p>
    <br>
    <p><%= booking.end_of_renting %></p>
  </div>
    <p class="btn-medium" id="dashboard-button">
      <%= link_to 'More information on this device', devices_path %>
    </p>
  </div>
</div>
