<div class="dashboard">
  <div class="dashboard-name">
    <h3><%= booking.device.name %></h3>
  </div>
  <div class="dashboard-body">
    <p><%= booking.device.description %></p>
  </div>
  <div class="dashboard-body">
    <p><%= booking.start_of_renting %></p>
  </div>
  <div class="dashboard-body">
    <p><%= booking.end_of_renting %></p>
  </div>
  <div class="dashboard-link">
    <%= link_to 'More information on this device', device_path(booking.device) %>
  </div>
</div>
